body {
  background-color: #194332;
  background-image: url(https://media.istockphoto.com/id/1407257859/vector/poker-table-with-realistic-wooden-frame.jpg?s=612x612&w=0&k=20&c=n-31QpTsQ_vUhG8rP58cWu17QvixoIH2TUsPnKtJqi4=);
  background-size: cover;
  background-position: center top;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "container"
    "dealer"
    "player"
    "button"
    "explain";
  color: white;
  -webkit-text-stroke: 0.25px black;
}

h1,
h2 {
  text-align: center;
  margin: 5px;
}

#win-message {
  height: 30px;
}

.container {
  position: relative;
  right: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 5px;
}

#dealer-hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#player-hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 165px;
}

.cardtag {
  margin-left: -8vh;
}

.card.outline {
  border: 0.15em dashed #202d7a;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
button {
  background-color: #f0f273;
  font-weight: bold;
  border: 2px solid black;
  margin-top: 2vh;
  margin-left: 1vh;
  padding: 0.8rem;
  border-radius: 5px;
  color: black;
  font-size: 15px;
  cursor: pointer;
  margin-top: 25px;
  position: static;
}

div {
  transition: 0.5s;
}
